<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>DB</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Координаты</h1>
    <span th:if="${coordinates.size() == 0}">Пусто</span>
    <table th:if="${coordinates.size() > 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <td>X</td>
            <td>Y</td>
            <td></td>

        </tr>
        </thead>
        <tbody>

        <tr th:each="coordinate : ${coordinates}">
            <td th:text="${coordinate.x}"/>
            <td th:text="${coordinate.y}"/>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>